.desktop {
  display: block;
}

#wrapper {
  flex-direction: row;
}

#footerNav {
  order: -1;
}

#footerNav ul {
  flex-direction: column;
}

#footerNav li a {
  text-align: right;
}

#content, #secondScreen {
  width: 0;
  flex-grow: 1;
  overflow-y: auto;
}

#content {
  border-right: 1px solid #CCC;
}

#secondScreen {
  background: #EEE;
}

#navigation {
  order: 0;
  flex-direction: column;
  display: block;
  text-align: right;
}

#navigation a {
  text-align: right;
}

[data-region="dashboard"] #navigation .dashboardLink,
[data-region="search"] #navigation .searchLink,
[data-region="create"] #navigation .createLink,
[data-region="profile"] #navigation .profileLink {
  border-bottom: 3px solid transparent;
  color: #00AACC;
}

.mobile {
  display: none !important;
}
