* {
  box-sizing: border-box;
  font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body[data-version="1"] [data-version="2"],
body[data-version="2"] [data-version="1"] {
  display: none;
}

body {
  background: #EFEFEF;
  overflow-x: hidden;
  margin: 0;
}

body, input, textarea {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #666;
}

input, textarea, .btn {
  width: 100%;
  display: block;
  border: 0;
  border: 1px solid #CCC;
  padding: 10px;
  background: #FFF;
  text-decoration: none;
}

textarea {
  height: 5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

.btn {
  text-align: center;
}

label {
 display: block;
}

input, textarea, select, .btn {
  margin-bottom: 15px;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #00AACC;
}

input[type=submit], .btn {
  display: block;
  font-style: italic;
  background: #00AACC;
  color: white;
  border-radius: 2em;
  border: 0;
}

input[type=search] {
  border-radius: 2em;
  text-indent: 1.2em;
  background-image: url(/style/icons/noun_15028.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
}

::-moz-placeholder {
  font-style: italic;
  color: #CCC;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

.title, .details {
  padding: 0 .5rem;
}

.details, .bugNavigation, .comments div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bugNavigation {
  background: #999;
  margin: .5rem 0 0rem 0;
}

.bugNavigation a {
  padding: .5rem;
  color: #EEE;
  cursor: pointer;
}

.bugNavigation a:hover {
  background: #666;
}

.details span {
  font-size: .8rem;
}

.bugs a {
  display: block;
  padding:  0.5rem;
  text-decoration: none;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

.bugs a:hover {
  background: #DDD;
}

.comments {
  list-style-type: none;
}

.comments .header {
  padding: .5rem;
}

.comments div span {
  color: #999;
  font-size: .8rem;
}

.comments p {
  white-space: pre-wrap;
  margin: 0;
  padding: .5rem;
  background: white;
  font-size: .8rem;
  font-family: monaco,Consolas,Lucida Console,monospace;
}

.bugs {
  min-height: 2rem;
}

.loading {
  min-height: 4rem;
  background: url(/style/icons/loading.png) no-repeat center;
  animation: 0.9s rotate infinite steps(30);
  width: 2rem;
  margin: 0 auto;
}

#createBug, #login {
  padding: 0 .5rem;
}

header h2 {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  line-height: 2.5rem;
  font-size: 1.2rem;
  flex-grow: 1;
  color: #888;
}

.home h2 {
  display: block;
  margin: 1rem;
  background: #E0E0E0;
  padding: .5rem;
  text-decoration: none;
  color: #333;
  border-radius: .5rem;
  font-weight: normal;
  border: 1px solid #CCC;
  text-indent: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  cursor: pointer;
}

.dashboard h2 {
  font-size: .75rem;
  font-weight: normal;
  padding:  0.5rem;
  margin: 0;
  color: #999;
}

.dashboard a {
  display: block;
  border-bottom: 1px solid #DDD;
  padding: .5rem;
}

.dashboard ul a {
  background: #FFF;
}

.dashboard ul a:hover {
  background: #F9F9F9;
}

.dashboard ul {
  font-size: .8rem;
}

.dashboard ul a div  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.dashboard ul {
  border-top: 1px solid #DDD;
}

.dashboard .btn {
  margin: 1rem;
  width: calc(100% - 2rem);
}

.home .search {
  background-image: url(/style/icons/noun_15028.svg);
}

.home .file {
  background-image: url(/style/icons/noun_9529.svg);
  background-size: 1em;
  background-position: .5rem center;
}

.home .install {
  background-image: url(/style/icons/noun_4240.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.home .dashboardlink {
  background-image: url(/style/icons/noun_11757.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.warning {
  background: #B90000;
}

.loginError, .createBugError {
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

em {
  font-weight: bold;
}

[hidden], .hidden {
  display: none !important;
}

.attachments:empty {
  border: none;
  padding: 0;
}

.attachments {
  margin: 1rem 0;
  padding: .5rem 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.attachments li {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.attachments li:last-child {
  border-bottom: 0;
}

.attachments li span {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  white-space: nowrap;
  color: #AAA;
  font-style: italic;
}

.deleteAttachment {
  display: block;
  background: url(/style/icons/noun_5493.svg) no-repeat;
  background-size: 120%;
  width: 1rem;
  height: 1rem;
  opacity: .5;
  flex-shrink: 0;
}

.attachments li span.previewLink {
  color: #00AACC;
  cursor: pointer;
}

.deleteAttachment:hover {
  opacity: .75;
}

.preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bugDetails {
  padding: .5rem;
}

.bugDetails ul {
  margin-bottom: .5rem;
}

.bugDetails li {
  padding: .2rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DDD;
}
.bugDetails li:last-child {
  border: 0;
}

.bugDetails li label, .bugDetails li span {
  width: 50%;
  flex-grow: 1;
}

.bugDetails li span {
  text-align: right;
}

.dependson a {
  float: right;
  padding: .2rem;
}

.headerBtn {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.close {
  background-image: url(icons/close.png);
}

.attach {
  background-image: url(icons/attach.png);
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-top: .5rem;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  margin: 0;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}
