* {
  box-sizing: border-box;
  font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 2.0rem;
  color: #474747;
}

a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

input, textarea, .btn, button {
  width: 100%;
  display: block;
  border: 0;
  border: 1px solid #CCC;
  background: #FFF;
  text-decoration: none;
  outline: 0;
  font-size: 1.2rem;
  line-height: 2.0rem;
  padding: 0 1rem;
  border-radius: 0;
}

textarea {
  padding-top: 1rem;
}

button, .btn, input[type=submit] {
  padding: 1rem;
}

textarea {
  height: 11rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

.btn {
  text-align: center;
}

.headerBtn {
  font-size: 1.4rem;
  width: 5rem;
}

.loginScreen .headerBtn {
  width: 2rem;
}

.logout, .login {
  text-align: right;
}

.logout:active, .login:active {
  opacity: .5;
}

/* Fun hack to get rid of the text moving when the border-bottom is
   applied on focus */
input[type=text], input[type=password], input[type=email] {
  height: 4rem;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  padding-top: .2rem;
}

label {
 display: block;
}

form {
  margin: 2rem 1.5rem 0 1.5rem;
}

input, textarea, select, .btn {
  margin-bottom: 2rem;
}

input:focus, textarea:focus {
 border-bottom: .3rem solid #00caf2;
}

input[type=submit], .btn {
  display: block;
  font-style: italic;
  background: #00caf2;
  color: white;
  border-radius: 2em;
  border: 0;
}

input[type=submit]:active, .btn:active {
  background: white;
  color: #00caf2;
}


input[type=search] {
  padding: .5rem;
  border-radius: 2em;
  text-indent: 1.7em;
  background-image: url(/style/icons/noun_15028.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
}

::-moz-placeholder {
  font-style: italic;
  color: #909ca7;
  opacity: 1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  line-height: 5rem;
  background: #9ab0c0;
  color: white;
}

header a {
  color: white;
  font-style: italic;
}

/* Main Layout*/
.mainNavigation {
  background: #000;
  display: block;
  flex-shrink: 0;
}


.mainNavigation ul a {
  font-size: 1.4rem;
  display: block;
  line-height: 2rem;
  padding: .5rem;
}

.title, .details {
 padding: 0 .5rem;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  flex-grow: 1;
  overflow-y: auto;
}

.details, .bugNavigation, .comments div, .row {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.bugNavigation {
  background: #999;
  margin: .5rem 0 0rem 0;
}

.bugNavigation a {
  padding: .5rem;
  color: #EEE;
  cursor: pointer;
}

.bugNavigation a:hover {
  background: #666;
}

.bugs a {
  display: block;
  padding:  0.5rem;
  text-decoration: none;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

.bugs a:hover {
  background: #DDD;
}

.comments {
  list-style-type: none;
}

.comments .header {
  padding: .5rem;
}

.comments div span {
  color: #999;
}

.comments p {
  white-space: pre-wrap;
  margin: 0;
  padding: .5rem;
  background: white;
  font-family: monaco,Consolas,Lucida Console,monospace;
}

.bugs {
  min-height: 2rem;
}

.loading {
  min-height: 8rem;
  background: url(/style/icons/loading.png) no-repeat center;
  animation: 0.9s rotate infinite steps(30);
  width: 4rem;
  margin: 0 auto;
}

header h2 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  flex-grow: 1;
}

.home h2 a {
  display: block;
  margin: 1rem;
  background: #E0E0E0;
  padding: .5rem;
  text-decoration: none;
  color: #333;
  border-radius: .5rem;
  font-weight: normal;
  border: 1px solid #CCC;
  text-indent: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  cursor: pointer;
}

.dashboard h5 {
  text-align: center;
}

.dashboard a {
  display: block;
  padding: 1rem;
}

.dashboard ul a {
  background: #FFF;
  border-bottom: 1px solid #DDD;
}

.dashboard ul a:hover {
  background: #F9F9F9;
}

.dashboard ul {
  font-size: 1.2rem;
}

.dashboard ul a div  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.dashboard ul {
  border-top: 1px solid #DDD;
}

.dashboard .btn {
  margin: 1rem;
  width: calc(100% - 2rem);
}

.home .search a {
  background-image: url(/style/icons/noun_15028.svg);
}

.home .file a {
  background-image: url(/style/icons/noun_9529.svg);
  background-size: 1em;
  background-position: .5rem center;
}

.home .install a {
  background-image: url(/style/icons/noun_4240.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.home .dashboardlink a {
  background-image: url(/style/icons/noun_11757.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.warning {
  background: #B90000;
}

.loginError, .createBugError {
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

em {
  font-weight: bold;
}

[hidden], .hidden {
  display: none;
}

.attachments:empty {
  border: none;
  padding: 0;
}

.attachments {
  margin: 0 0 2.5rem 0;
  padding: .5rem 0;
  border-bottom: 1px solid #DDD;
}

.attachments li {
  display: flex;
  line-height: 4rem;
  flex-direction: row;
}

.attachments li:last-child {
  border-bottom: 0;
}

.attachments li .name {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  white-space: nowrap;
  color: #AAA;
  font-style: italic;
}

.attachments li .size {
  display: block;
  width: 7.5rem;
  overflow: hidden;
  color: #AAA;
  text-align: right;
  white-space: nowrap;
}

.deleteAttachment {
  display: block;
  background: url(/style/icons/remove.png) no-repeat;
  background-size: 2.4rem;
  background-position: center right;
  flex-shrink: 0;
  width: 2.8rem;
  height: 4rem;
}

.attachments li span.previewLink {
  color: #00AACC;
  cursor: pointer;
}

.deleteAttachment:hover {
  opacity: .75;
}

.preview {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bugDetails {
  padding: .5rem;
}

.bugDetails ul {
  margin-bottom: .5rem;
}

.bugDetails li {
  padding: .2rem 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DDD;
}
.bugDetails li:last-child {
  border: 0;
}

.bugDetails li label, .bugDetails li span {
  width: 50%;
  flex-grow: 1;
}

.bugDetails li span {
  text-align: right;
}

.dependson a {
  float: right;
  padding: .2rem;
}

.attachBtn {
  display: block;
  border: 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2rem;
  height: 5.2rem;
  line-height: 5.2rem;
  color: #00AACC;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.close {
  background-image: url(icons/close.png);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: left center;
}

.attach {
  background-image: url(icons/attach.png);
}

.btn-file {
  position: relative;
  overflow: hidden;
  font-style: italic;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  margin: 1rem 0;
  height: 3.2rem;
  z-index: 1;
}

.btn-file:active span {
  opacity: .5;
}

input[disabled] {
  opacity: .5;
}

.dialog, .alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(202, 202, 202, .9);
  z-index: 100;
}

.toast {
  position: fixed;
  margin-bottom: 1rem;
  text-align: center;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  background: #FFF;
  font-weight: 200;
  font-style: italic;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
  color: #00AACC;
  padding: 16px;
  transform: translateY(calc(100% + 1rem));
  transition: transform .2s, opacity .5s;
}

.toast.shown {
  transform: translateY(0%);
}

.toast.fade {
  opacity: 0;
}

.dialog > div {
  width: calc(100% - 3rem);
  margin: 0 auto;
  overflow: hidden;
  font-style: italic;
  background: #F9F9F9;
}

.notice > div {
  padding-bottom: 6rem;
}

.dialog span {
  display: block;
  color: #666;
  padding: 3.65rem 2rem;
  background: #EFEFEF;
}

.dialog button {
  display: block;
  width: 100%;
  color: #00caf2;
  border: 0;
  line-height: 3rem;
  border-top: 1px solid #CCC;
  background: white;
}

.dialog button:active {
  background: #00caf2;
  color: white;
}

.progress {
  min-width: 300%;
  height: .4rem;
  background: repeating-linear-gradient(135deg,
                                        #00caf2 0px,
                                        #00caf2 11%,
                                        #b2f2ff 11%,
                                        #b2f2ff 22%,
                                        #a6a6a6 22%,
                                        #a6a6a6 33%);
  animation: moving-backward 1500ms infinite linear;
}

#description {
  margin-bottom: 2.5rem;
}

#login .row input:first-child {
  margin-right: 1rem;
}
#login .row input:last-child {
  margin-left: 1rem;
}

[data-path="/dashboard/filed/"] .filed,
[data-path="/dashboard/flags/"] .flags,
[data-path="/dashboard/flagged/"] .flagged,
[data-path="/dashboard/"] .assigned,
[data-path="/"] .assigned { background-color: #EEE; }

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}

@keyframes moving-backward {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33%); }
}
