* {
  box-sizing: border-box;
  font-family: Fira Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body[data-version="1"] [data-version="2"],
body[data-version="2"] [data-version="1"] {
  display: none;
}

body {
  background: #EFEFEF;
  overflow-x: hidden;
  margin: 0;
}

body, input {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #666;
}

input, textarea, .btn {
  width: 100%;
  display: block;
  border: 0;
  border: 1px solid #CCC;
  padding: 10px;
  background: #FFF;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

.btn {
  text-align: center;
}

label {
 display: block;
}

input, textarea, select, .btn {
  margin-bottom: 15px;
}

input:focus, textarea:focus {
  border-bottom: 1px solid #00AACC;
}

input[type=submit], .btn {
  display: block;
  font-style: italic;
  background: #00AACC;
  color: white;
  border-radius: 2em;
  border: 0;
}

input[type=search] {
  border-radius: 2em;
  text-indent: 1.2em;
  background-image: url(/style/icons/noun_15028.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
}

::-moz-placeholder {
  font-style: italic;
  color: #CCC;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
}

.title, .details {
  padding: 0 .5rem;
}

.details, .bugNavigation, .comments div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details span {
  font-size: .8rem;
}

.bugs a {
  display: block;
  padding:  0.5rem;
  text-decoration: none;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

.bugs a:hover {
  background: #DDD;
}

.comments {
  list-style-type: none;
  padding: 0 .5rem;
}

.comments div span {
  color: #999;
  font-size: .8rem;
}

.comments p {
  margin-top: 0;
}

.bugs {
  min-height: 2rem;
}

.loading {
  min-height: 4rem;
  background: url(/style/icons/loading.png) no-repeat center;
  animation: 0.9s rotate infinite steps(30);
}

#createBug, #login {
  padding: 0 .5rem;
}

.home h2 a {
  display: block;
  margin: 1rem;
  background: #E0E0E0;
  padding: .5rem;
  text-decoration: none;
  color: #333;
  border-radius: .5rem;
  font-weight: normal;
  border: 1px solid #CCC;
  text-indent: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 2em;
  cursor: pointer;
}

.dashboard h2 {
  font-size: .75rem;
  font-weight: normal;
  padding:  0.5rem;
  margin: 0;
  color: #999;
}

.dashboard a {
  display: block;
  border-bottom: 1px solid #DDD;
  padding: .5rem;
}

.dashboard ul a {
  background: #FFF;
}

.dashboard ul a:hover {
  background: #EFEFEF;
}

.dashboard ul {
  font-size: .8rem;
}

.dashboard ul a div  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.dashboard ul {
  border-top: 1px solid #DDD;
}

.dashboard .btn {
  margin: 1rem;
  width: calc(100% - 2rem);
}

.home .search {
  background-image: url(/style/icons/noun_15028.svg);
}

.home .file {
  background-image: url(/style/icons/noun_9529.svg);
  background-size: 1em;
   background-position: .5rem center;
}

.home .install a {
  background-image: url(/style/icons/noun_4240.svg);
  background-size: 1.2em;
  background-position: .5rem center;
}

.warning {
  background: #B90000;
}

.loginError, .createBugError {
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

em {
  font-weight: bold;
}

[hidden] {
  display: none;
}

.attachments li {
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DDD;
}

.attachments li:last-child {
  border-bottom: 0;
}

.attachments img {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.attachments li span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  font-size: .8rem;
  flex-grow: 1;
}

.deleteAttachment {
  display: block;
  background: url(/style/icons/noun_5493.svg) no-repeat;
  background-size: 100%;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: .45rem;
  opacity: .5;
  flex-shrink: 0;
}

.deleteAttachment:hover {
  opacity: .75;
}

@keyframes rotate {
  from { transform: rotate(1deg); }
  to   { transform: rotate(360deg); }
}
